body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

.section-1, .section-2, .section-3, .section-4 {
    flex: 1;
}

.header, .footer {
    display: flex;
    align-items: center;
    color: #E5E7EB;
    font-size: 18px;
    background-color: #1F2937;
}

.header {
    justify-content: space-between;
    padding: 0 200px;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    color: #E5E7EB;
    padding: 0px;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

button, .ad-container {
    background-color: #3882F6;
    color: white;
}

.left button {
    padding: 5px;
    font-weight: 600;
    border-radius: 5px;
    max-width: 100px;
}

.ad-container button {
    color: white;
    border: 1px solid white;
    border-radius: 1px;
}


.section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    column-gap: 20px;
    padding: 0 200px;
}

.section-1 .left {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.left .section-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8
}

.left .subtext {
    color: #E5E7EB;
    font-size: 18px;
}

.section-1 .image {
    background-color: lightgray;
    height: 70px;
    width: 300px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-2 .section-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

li .image {
    border: 1px solid royalblue;
    border-radius: 1px;
    height: 70px;
    width: 70px;
}

li .subtext {
    color: #E5E7EB;
    font-size: 18px;
    text-align: center;
}

.section-3 {
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-style: italic;
}

.section-3 .quote {
    width: 500px; 
}

.section-3 .quote-author {
    width: 500px;
    text-align: right;
}

.section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ad-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0 200px;
    padding: 50px 0;
}

.footer {
    justify-content: center;
}